<!DOCTYPE html>
<html ng-app="UchApp">
<head>
    <meta charset="utf-8">
    <title>Angular Boiler Plate</title>
    <!-- Bootstrap core CSS -->
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <!-- Optional theme -->
    <link rel="stylesheet" href="./css/bootstrap-theme.min.css">
    <!-- Custom styles for this template -->
    <link href="./css/custom-main.css" rel="stylesheet">

    <style>
        .ng-invalid .ng-dirty{
            border-color: red;
        }
        .ng-invalid .ng-dirty{
            border-color: green;
        }
    </style>
</head>

<body>

<div class="container" ng-controller="StoreController as store">
    <div ng-repeat="product in store.pr | orderBy:'-price' | limitTo:10">
        <div class="row" ng-show="product.soldOut">
            <div class="col-md-6" ng-controller="PanelController as panel">
                <h1>{{ product.name }}</h1>

                <p><img ng-src="{{ product.image[0].thumb}}">
                <ul class="nav nav-pills">
                    <li ng-class="{active:panel.isSelected(1)}"><a href ng-click="panel.selectTab(1)">Desctipton</a></li>
                    <li ng-class="{active:panel.isSelected(2)}"><a href ng-click="panel.selectTab(2)">Reviews</a></li>
                </ul>

                <div class="panel" ng-show="panel.isSelected(1)">
                    <p><strong>Price:</strong> {{product.price | currency}}</p>

                    <p><strong>Description: </strong>{{product.description}}</p>

                    <p>
                        <button class="btn btn-default" ng-show="product.canPurchase">Add to cart</button>
                    </p>
                </div>
                <div class="panel" ng-show="panel.isSelected(2)">
                    <blockquote ng-repeat="review in product.reviews">
                        <b>Stars: {{review.stars}}</b>

                        <p>{{review.body}}</p>
                        <cite><b>Author</b>:{{review.author}}</cite>
                    </blockquote>
                    <blockquote>
                        <form role="form" name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>
                            <blockquote>
                                <b>Stars: {{reviewCtrl.review.stars}}</b>
                                <p>{{reviewCtrl.review.body}}</p>
                                <cite><b>Author</b>:{{reviewCtrl.review.author}}</cite>
                            </blockquote>

                            <div class="form-group">
                                <label class="control-label">Select Star:</label>
                                <select class="form-control" ng-model="reviewCtrl.review.stars" required>
                                    <option value="1">1 star</option>
                                    <option value="2">2 star</option>
                                    <option value="3">3 star</option>
                                    <option value="4">4 star</option>
                                    <option value="5">5 star</option>
                                    <option value="6">6 star</option>
                                    <option value="7">7 star</option>
                                    <option value="8">8 star</option>
                                    <option value="9">9 star</option>
                                    <option value="10">10 star</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Review Text:</label>
                                <textarea ng-model="reviewCtrl.review.body" class="form-control" name="reviewText" cols="30" rows="10" required></textarea>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Author email:</label>
                                <input ng-model="reviewCtrl.review.author" class="form-control" name="email" type="email" required/>
                            </div>

                            <div class="form-group">
                                <label class="control-label">review IS: {{reviewForm.$valid}}</label>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Submitt" class="form-control"/>
                            </div>
                        </form>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div class="container">
    <div class="row">
        <script>
            function countChar(){
                var phrase = prompt('wRITE SOME TEXT!');
                if(typeof(phrase) != 'string'){
                    alert('you entered wrong tipe of entry!');
                    return false;
                }else{
                    var charCount =0;
                    for(var index=0;index < phrase.length;index++){
                        if(phrase.charAt(index) == 'a' || phrase.charAt(index) == 'A' ){
                            charCount++;
                        }
                    }

                    alert('There is ' + charCount + ' A\'s in your text!');
                    return true;
                }


            }



        </script>


    </div>
</div>-->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="./js/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="./js/bootstrap.min.js"></script>

<!--Angular JS-->
<script src="./js/angular/angular.min.js"></script>
<script src="./js/custom-main.js"></script>

</body>
</html>
